/* CSS Document */
body{
background-color: #004d4d;
font-size: 18px;

}

.container{
	position:relative;
	width:70%;
	margin:20px auto;
	border:1px solid ;
	min-height:500px;
	padding:10px 25px;
	background-color:#e6f2ff; 
	overflow: hidden;	
}
section{
	position:relative;
}

.form{
	width:50%;
	margin:30px auto ;
	padding:10px 35px;
	background-color: #0099ff;
	border-radius: 5px;
	min-height: 450px;
	height: auto;
	vertical-align: center;
	position: relative;
}

.noteForm{
	width:70%;
	margin:30px 20px 30px; ;
	padding:20px 15px;
	background-color: #80bfff;
	border-radius: 5px;
	min-height: 250px;
	height: auto;
}
.content{
	padding-top: -140px;
}

#createForm{
	background-color:#e6f2ff;
	min-height: 100px;
	height: auto;
	padding: 10px;

}
#createForm .submitBtn{
	width: 50%;
	margin-left: 33%;
	margin-top: 10px;
}

#createForm label{
	/*margin:20px 0 10px 0;*/
	width: 25%;

}

#createForm input{
	margin:20px 0 10px 0;
	width: 72%;

}

#createForm textarea{
	margin:20px 0 10px 0;
	width: 70%;
	height: 100px;
	vertical-align: top;
}
.loginLink, .registerLink {
	position: absolute;
	right: 250px;
	top:10px;
	font-size: 22px;
	color: white;
	
}

.logoutLink{
	position: absolute;
	right: 50px;
	top:5px;
	font-size: 18px;
	background-color: #4da6ff;
	padding: 2px 10px;
	color: white;
}

.welcome{
	margin-top: 25px;
	text-align: center;
}
a{
	text-decoration: none;
}
.success, .errMsg
{
	height: 30px;
	width: 100%;
	background-color: #ccffb3;
	text-align: center;
	font-size: 18px;
	color: red;
	
}

.wrap{
 
}

label{
	margin: 5px 0px 0 6px;
	display: inline-block;
	 /*font-size: 90%;*/
}

input{
	box-sizing: border-box;
	box-shadow: none;
	width:90%;
	height: 30px;
	border-radius: 5px;

}

.row_submit{
	margin-top: 10px;
}

.submitBtn{
	width: 90%;
	background-color:#0066ff; 
	font-size: 18px;
	color: white;
	height: 35px;
}

.error{
	color: red;
}

.notes{
	width: 27%;
	background-color: #ccffff;
	margin:10px ;
	float: left;
	height: auto;
	padding: 15px;
	border-radius: 8px;
	

}

/*.registerLink{
	margin-top: 20px;
	font-size: 22px;
	position: absolute;
	right: 50px;
}*/


@media only screen and (min-width: 150px) and (max-width: 768px) {
	.form{
		width: 100%;
	}
	.notes{
		width: 100%;
		
	}
	/*.col-30 {
  
  		width: 100%;
    }
	.col-70 {
	 
	  width: 100%;
	 
	}*/
}
